.env
node_modules/
.DS_Store
dist/
log/
localStorage/localStorage.json
localStorage/remarkStorage.json
assets/mosaic/*
assets/referenda
assets/referendaSettings
assets/shelf/luck/*
assets/shelf/votes/*
assets/shelf/difference/*
# assets/shelf/referenda/*
# assets/shelf/referendaSettings/*